@use "sass:math";
@use "sass:color";

window#launcher .launcher {
    @include floating_widget;

    .quicklaunch {
        button {
            background-color: $base;
            padding: $padding $padding * 2;
        }
    }

    .app-item {
        image {
            margin-right: $padding;
        }
    }

    entry {
        padding: $padding;
        margin: $spacing;
        background-color: $mantle;

        selection {
            color: color.mix($base, $text, 50%);
            background-color: transparent;
        }

        label,
        image {
            color: $text;
        }
    }

    separator {
        margin: 4pt 0;
        background-color: $base;
    }

    button {
        background-color: $surface0;

        transition: $transition;
        padding: $padding;

        label {
            transition: $transition;

            &.title {
                color: $text;
            }

            &.description {
                color: transparentize($text, 0.3);
            }
        }

        image {
            transition: $transition;
        }

        &:hover,
        &:focus {
            background-color: $surface1;

            image {
                -gtk-icon-shadow: 2px 2px $base;
            }
        }

        &:active {
            background-color: transparentize($base, 0.5);
            border-radius: $radius;
            box-shadow: inset 0 0 0 $border-width $border-color;

            .title {
                color: $text;
            }
        }
    }
}
