@import "./notifications.scss";

window#notificationcenter .notificationcenter {
    @include floating-widget;
    min-height: 500px;

    .notifications {
        .header {
            margin-bottom: $spacing;
            margin-right: $spacing;

            >label {
                margin-left: $radius * .5;
            }

            button {
                padding: $padding*.7 $padding;
                background-color: $blue;
                color: $mantle;
            }
        }

        .notification-list {
            margin-right: $spacing;
        }

        .notification {
            @include notification;
            padding: $padding;
            margin-bottom: $spacing;
        }

        .placeholder {
            image {
                font-size: 7em;
            }

            label {
                font-size: 1.2em;
            }
        }
    }
}
